*, ::after, ::before {
	box-sizing: border-box;
	padding: 0; 
	margin: 0;
	border: 0;

}

html {
	background: var(--off-white);
	min-height: 100vh;
}

body {
	min-height: 100vh;
	position: relative;
	padding-bottom: 75px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-title);
	font-style: normal;
	font-weight: 700;
	color: var(--gray);
	line-height: 1.25;
	letter-spacing: 0;
}

h1 {
	font-size: 3.25rem;
}

h2 {
	font-size: 1.75rem;
	margin-bottom: 10px;
}

h3 {
	font-size: 1.50rem;
}

h4 {
	font-size: 1rem;
	font-style: italic;
}

p {
	font-family: var(--font-body);
	font-style: normal;
	font-weight: 400;
	color: var(--gray);
	line-height: 1.5;
	letter-spacing: 0;
}

a {
	font-family: var(--font-body);
	font-style: italic;
	font-weight: 400;
	color: var(--red);
	text-decoration: underline;
	text-decoration-thickness: 2px;
	transition: color ease-in-out 300ms;
}

a:hover {
	color: var(--blue);
}

img {
	width: 100%;
	height: auto;
	max-width: 100%;
}

li {
	list-style: none;
}

main > * {
	padding: 0 15px;
	margin-bottom: 40px;
}