*, ::after, ::before {
	box-sizing: border-box;
	padding: 0; 
	margin: 0;
	border: 0;
}

*:focus {
	-webkit-tap-highlight-color: transparent;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	outline: 2px solid var(--gray);
	outline-offset: 2px;
}

html {
	background: var(--white);
	min-height: 100vh;
	height: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	position: relative;
	padding-bottom: 120px;
}

@media (min-width: 64em) {
	body {
		padding-bottom: 135px;
	}
}

main {
	max-width: 1200px;
	margin: 0 auto;
}


h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-title);
	font-style: normal;
	font-weight: 700;
	color: var(--dark-gray);
	line-height: 1.25;
	letter-spacing: 0;
}

h1 {
	font-size: 3.75rem;
}

h2 {
	font-size: 2rem;
	margin-bottom: var(--sm-content-gap);
}

h3 {
	font-size: 1.50rem;
}

h4 {
	font-size: 1rem;
	font-style: italic;
}

p {
	font-family: var(--font-body);
	font-style: normal;
	font-weight: 400;
	color: var(--dark-gray);
	line-height: 1.75;
	letter-spacing: 0;
}

a {
	font-family: var(--font-body);
	font-style: italic;
	font-weight: 700;
	color: var(--dark-red);
	text-decoration: none;
	transition: color ease-in-out 300ms;
}

a:hover {
	color: var(--dark-blue);
}

img {
	display: block;
	width: 100%;
	height: auto;
	max-width: 100%;
}

li {
	list-style: none;
}

main > * {
	padding: 0 var(--mobile-side-padding);
	margin-bottom: var(--section-margin);
}

@media (min-width: 64em) {
	h1 {
		font-size: 5rem;
	}
	
	h2 {
		font-size: 4rem;
		margin-bottom: var(--lg-content-gap);
	}
	
	h3 {
		font-size: 3rem;
	}
	
	h4 {
		font-size: 1.8rem;
		font-style: italic;
	}
	
	p {
		font-family: var(--font-body);
		font-style: normal;
		font-weight: 400;
		color: var(--dark-gray);
		line-height: 1.75;
		letter-spacing: 0;
	}

	main > * {
		padding: 0 var(--desktop-side-padding);
		margin-bottom: var(--lg-section-margin);
	}
}