/**********Navigation**********/
.mobile-nav-cont {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: flex-end;
	pointer-events: none;
	padding-right: 5px;
}
.hamburger-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	background: transparent;
	font-size: 2rem;
	color: var(--dark-gray);
	cursor: pointer;
	pointer-events: all;
}

.hamburger-button .opened,
.hamburger-button.active .closed {
	display: none;
}

.hamburger-button.active .opened {
	display: inline;
}

.main-nav.desktop {
	display: none;
}

.main-nav.mobile {
	position: absolute;
	z-index: 10;
	top: 50px;
	right: 15px;
	width: calc(100% - 30px);
	display: block;
	transform: scale(0.8);
	transform-origin: top right;
	background-color: var(--off-white);
	transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 50px 100px -20px rgba(50,50,93,0.25),0 30px 60px -30px rgba(0,0,0,0.3);
	border: 1px solid var(--gray);
	opacity: 0;
	pointer-events: none;
}

.main-nav.mobile.active {
	transform: scale(1);
	opacity: 1;
	pointer-events: all;
}

.main-nav.mobile .nav-item {
	padding: 12px 0;
	border-bottom: 1px dashed var(--gray);
}

.main-nav.mobile .nav-item:last-child {
	border-bottom: none;
}

.main-nav.mobile .nav-item a {
	font-family: var(--font-title);
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 600;
	color: var(--dark-gray);
}

@media (min-width: 64em) {
	.mobile-nav-cont {
		display: none;
	}

	.main-nav.desktop {
		display: block;
		width: 100%;
		background: var(--light-gray);
		padding: var(--desktop-side-padding);
		margin: 0 auto;
	}

	.main-nav.desktop .nav-list {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}

	.main-nav.desktop .nav-list .nav-item {
		position: relative;
		overflow: hidden;
		padding: var(--sm-content-gap) var(--lg-content-gap);
	}

	.main-nav.desktop .nav-list .nav-item a {
		position: relative;
		font-family: var(--font-title);
		font-size: min(calc(20px + (24 - 20) * ((100vw - 1024px) / (1440 - 1024))), 1.5rem);
		font-style: normal;
		font-weight: 600;
		color: var(--dark-gray);
		text-decoration: underline;
		text-decoration-color: var(--dark-blue);
		text-decoration-thickness: 4px;
		text-underline-offset: 4px;
	}

	.main-nav.desktop .nav-list .nav-item a::after {
		content: '';
		position: absolute;
		bottom: -4px;
		left: -1px;
		transform: translateX(0);
		height: 5px;
		width: calc(100% + 2px);
		background: var(--light-gray);
		transition: transform 300ms ease-in-out;
	}

	@media (hover: hover) {
		.main-nav.desktop .nav-list .nav-item a:hover::after {
			transform: translateX(calc(100% + 2px));
			transition: transform 300ms ease-in-out;
		}
	}
}

/**********Hero**********/
.header .hero {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 300px;
	background: var(--light-gray);
	padding-bottom: 30px;
	border-bottom: 1px solid var(--gray);
	margin-bottom: 20px;
}

.header .hero::before {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 50%;
	z-index: 2;
	transform: translateX(-50%);
	height: 0;
	width: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid var(--white);
}

.header .hero::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 1;
	transform: translateX(-50%);
	height: 0;
	width: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid var(--gray);
}

.header .hero .hero-inner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.header .hero .greeting {
	padding: 0 var(--mobile-side-padding);
}

.header .hero .sub-greeting {
	font-size: 1.25em;
	line-height: 1.25;
	padding: 0 var(--mobile-side-padding);
	margin-bottom: var(--sm-content-gap);
}

.hero .socials {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: var(--md-content-gap);
	width: 100%;
	padding: 0 var(--mobile-side-padding);
}

.hero .socials i {
	font-size: 2rem;
	color: var(--dark-blue);
	transition: transform 100ms ease-in-out;
}

@media (hover: hover) {
	.hero .socials i:hover {
		transform: scale(1.5);
	}
}

@media (min-width: 64em) {
	.header .hero {
		min-height: 407px;
	}
	
	.header .hero::before {
		border-left: 45px solid transparent;
		border-right: 45px solid transparent;
		border-bottom: 45px solid var(--white);
	}
	
	.header .hero::after {
		border-left: 45px solid transparent;
		border-right: 45px solid transparent;
		border-bottom: 45px solid var(--gray);
	}

	.header .hero .greeting {
		padding: 0 var(--desktop-side-padding);
	}
	
	.header .hero .sub-greeting {
		font-size: 2rem;
		padding: 0 var(--desktop-side-padding);
		margin-bottom: var(--md-content-gap);
	}

	.hero .socials {
		padding: 0 var(--desktop-side-padding);
		gap: var(--lg-content-gap);
	}

	.hero .socials i {
		font-size: 2.75rem;
	}

	@media (hover: hover) {
		.hero .socials i:hover {
			transform: scale(1.25);
		}
	}
}

/**********About Me**********/
@media (min-width: 64em) {
	.about-me .section-title {
		margin-bottom: var(--sm-content-gap);
	}

	.about-me p {
		font-size: 1.25rem;
	}
}

/**********Experience and Education**********/
.experience-education .experience-container {
	position: relative;
}

.experience-education .experience {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	transition: opacity 200ms ease-in-out;
}

.experience-education .experience.show {
	position: relative;
	opacity: 1;
	pointer-events: all;
	transition: opacity 800ms ease-in-out;
}

.experience-education .content {
	margin-bottom: var(--sm-content-gap);
}

.experience-education .tabs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--sm-content-gap);
	margin-bottom: var(--sm-content-gap);
}

.experience-education .tab {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--font-title);
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	padding: 12px 4px;
	border-radius: 8px;
	border: 1px solid var(--gray);
	background: var(--white);
	transition: background 200ms ease-in-out, color 200ms ease-in-out;
	cursor: pointer;
}

.experience-education .tab.active {
	background: var(--dark-blue);
	color: var(--white);
}

@media (hover: hover) {
	.experience-education .tab:not(.active):hover {
		background: var(--light-gray);
	}
}

.experience-education .content-subtitle {
	font-weight: 400;
	margin-bottom: var(--sm-content-gap);
}

.experience-education .content-description,
.experience-education .content-note {
	margin-bottom: var(--sm-content-gap);
}

.experience-education .important {
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--red);
	text-underline-offset: 2px;
}

.experience-education .example {
	padding: 4px 0;
}

.experience-education .example i {
	margin-right: 2px;
	color: var(--dark-blue);
}

@media  (min-width: 40em) {
	.experience-education .tabs {
		flex-direction: row;
	}
}

@media (min-width: 64em) {
	.experience-education .tabs {
		margin-bottom: var(--lg-content-gap);
	}

	.experience-education .tab {
		font-size: 1.25rem;
	}
	
	.experience-education .content-description,
	.experience-education .content-note {
		font-size: 1.25rem;
		margin-bottom: var(--lg-content-gap);
	}

	.experience-education .example {
		font-size: 1.25rem;
		padding: 8px 0;
	}
	
	.experience-education .example i {
		font-size: 1.25rem;
		margin-right: 4px;
	}
}

/**********Projects**********/
.projects .cards-container {
	display: grid;
	gap: 30px;
}

.projects .card {
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	background: var(--off-white);
}

.projects .card .img-cont,
.projects .card .img-cont img {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: var(--off-white);
}

.projects .card .img-cont img {
	aspect-ratio: 2 / 1;
}

.projects .card .content-section {
	padding: 10px 20px 20px;
	background: var(--white);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.projects .card .card-title {
	margin-bottom: var(--sm-content-gap);
}

.projects .card .card-description {
	margin-bottom: var(--md-content-gap);
}

.projects .card .tech-stack {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: var(--md-content-gap);
}

.projects .card .tech-stack .tech {
	font-weight: 700;
	font-style: italic;
	color: var(--dark-gray);
}

.projects .card .card-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.projects .card .card-footer .card-link {
	color: var(--white);
	background: var(--red);
	padding: 4px 15px;
	border-radius: 20px;
	transition: background 200ms ease-in-out;
}

@media (hover: hover) {
	.projects .card .card-footer .card-link:hover {
		background: var(--dark-blue);
	}
}

.projects .card .dota-hero {
	font-weight: 700;
}

@media (min-width: 40em) {
	.projects .cards-container {
		grid-template-columns: 1fr 1fr;
		align-items: start;
	}
	 /* side-by-side 1st card */
	.projects .card:nth-child(1) {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: 0.8fr 1fr;
	}

	.projects .card:nth-child(1) .img-cont {
		border-bottom-left-radius: 20px;
	}

	.projects .card:nth-child(1) img {
		height: 100%;
		object-fit: cover;
		border-top-right-radius: initial;
		border-bottom-left-radius: 20px;
	}

	.projects .card:nth-child(1) .content-section {
		padding-top: 20px;
		border-bottom-left-radius: initial;
		border-top-right-radius: 20px;
	}
}

@media (min-width: 64em) {
	.projects .cards-container {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.projects .card .content-section {
		padding: 20px;
	}

	.projects .card .card-title {
		font-size: 2rem;
	}
	
	.projects .card .card-description {
		font-size: 1.25rem;
		margin-bottom: var(--lg-content-gap);
	}

	.projects .card .tech-stack {
		gap: var(--sm-content-gap);
	}

	.projects .card .tech-stack .tech {
		font-size: 1.25rem;
	}

	.projects .card .card-footer .card-link {
		font-size: 1.25rem;
	}

	 /* side-by-side 1st card */
	.projects .card:nth-child(1) {
		grid-column: 1;
		display: block;
	}

	.projects .card:nth-child(1) img {
		height: auto;
		object-fit: unset;
		border-top-right-radius: 20px;
		border-bottom-left-radius: initial;
	}

	.projects .card:nth-child(1) .content-section {
		border-top-right-radius: initial;
		border-bottom-left-radius: 20px;
	}
}

/**********footer**********/
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 88px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: var(--sm-content-gap);
	background-color: var(--off-white);
	padding: 10px 15px;
	border-top: 1px solid var(--gray);
	box-shadow: 0px -5px 25px rgba(0, 0, 0, 0.15);
}

.footer .socials {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	max-width: 200px;
	margin: 0 auto;
}

.footer .socials i {
	font-size: 2rem;
	color: var(--dark-blue);
	transition: transform 100ms ease-in-out;
}

@media (hover: hover) {
	.footer .socials i:hover {
		transform: scale(1.5);
	}
}

.footer .date {
	font-size: 1rem;
	font-weight: 700;
	color: var(--dark-gray);
}

@media (min-width: 64em) {
	.footer {
		min-height: 135px;
		gap: var(--lg-content-gap);
		padding: 15px;
	}

	.footer .socials {
		max-width: 300px;
	}

	.footer .date {
		font-size: 1.25rem;
	}

	.footer .socials i {
		font-size: 2.75rem;
	}

	@media (hover: hover) {
		.footer .socials i:hover {
			transform: scale(1.25);
		}
	}
}

/* Back to Top Button */
.back-to-top {
	position: fixed;
	bottom: 0;
	right: 0;
	transform: translate(100%, -25px);
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	background: var(--dark-red);
	color: var(--off-white);
	opacity: 0;
	pointer-events: none;
	border-radius: 100%;
	transition: transform 400ms ease-in-out, opacity 0ms ease-in-out 400ms;
}

.back-to-top.show {
	opacity: 1;
	pointer-events: all;
	transform: translate(-15px, -25px);
	cursor: pointer;
	transition: transform 400ms ease-in-out, opacity 0ms ease-in-out;
}

@media (min-width: 64em) {
	.back-to-top.show {
		transform: translate(-20px, -25px);
	}
}