:root {
	/* Font Families */
	--font-title: 'Noto Serif', serif; /* Weights: 400, 600 | Styles: Normal Italic */
	--font-body: 'Noto Sans', sans-serif; /* Weights: 400, 700 | Styles: Normal Italic */

	/* Colors */
	--black: #000000;
	--white: #ffffff;
	--off-white: #faf9f9;
	--light-gray: #e9ecef;
	--gray: #8d99ae;
	--dark-gray: #2b2d42;
	--red: #ef233c;
	--dark-red: #d90429;
	--dark-blue: #003049;

	/* Spacing */
	--section-margin: 40px;
	--mobile-side-padding: 15px;
	--sm-content-gap: 10px;
	--md-content-gap: 15px;
}